body {
  background-color: #1f0d0f;
  width: 1366px;
  margin-left: auto; 
  margin-right: auto;
  transition: min-width .5s ease-out, min-height .5s ease-out;
}
h1 {
  font-family: 'Radiance';
  font-size: 40px;
  color: #ff6600;
}
a {
  font-family: 'Radiance';
  color: white;
  text-decoration: none;
}
.Container {
  min-width: 1050px;
}
.SubContainer {
  width: 100%;
  position: relative;
}
ul, li {
  font-family: 'Radiance';
  color: #999999;
  font-size: 19px;
  line-height: 30px;
  list-style-type: circle;
  padding-bottom: 5px;
}
figure {
  font-family: 'Radiance';
  color: #999999;
  font-size: 19px;
  line-height: 30px;
  display: block; 
  width: 949px;
  padding: 42px 50px 42px 50px;
  margin: 0px 0px 2px 0px;
}
figure ul {
  padding-left: 18px;
}
figure h1 {
  display: block;
  color: #FFFFFF;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 19px;
  padding-top: 15px;
  padding-bottom: 5px;
}
.Reworked {
  padding-left: 5px;
  color: #FF5307;
}
.NewItem {
	padding-left: 5px;
	color: #36D15E;
}
.Scepter {
  padding-left: 5px;
  color: #00CCFF;
}
.Captains {
  padding-left: 5px;
  color: #36D15E;
}
em, em del {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-style: normal;
  text-decoration: none;
}
em {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: url('../assets/question_mark.png');
}
em del {
  display: block;
  visibility: hidden;
  width: 860px;
  background-color: #261E1C;
  color: #9f7e73;
  text-align: left;
  padding: 10px 15px 10px 15px;
  border: 1px solid black;
  position: absolute;
  margin-top: 17px;
  left: 92px;
  right: 0px;
  z-index: 1;
}
em:hover del {
  visibility: visible;
}
.OrangeBoxHeader {
  margin-bottom: 25px;
  display: table;
  font-family: 'Radiance';
  font-weight: normal;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  padding: 11px 19px 11px 19px;
  color: #FFFFFF;
  background: linear-gradient(to right, rgba(255,102,0,0.56) 0%, rgba(237,59,28,0.56) 100%);
}
#BGGameplay .Inner {
  padding-left: 50px;
}
#BGItems .Inner {
  padding-left: 50px;
}
#BGHeroes .Inner {
  padding-left: 50px;
}
#BGItems figure img {
  width: 85px;
  height: 64px;
}
#BGHeroes figure img {
  width: 113px;
  height: 64px;
}
#Link
{
    position: relative;
	display: table-cell;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    background-color: #111C26;
    border: 1px solid #336391;
    height: 40px;
    /*width: 200px;*/
    color: #ff6600;
    float: right;
    margin-top: 13px;
	text-shadow: 2px 2px 5px #000000;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #000000;
	text-align: center;
	letter-spacing: 3px;
    font-size: 18px;
	font-family: 'Radiance';
    padding-top: 15px;
	padding-left: 74px;
    -moz-transition: .3s;
    transition: .3s;
    -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
}
#LinkContainer
{
	width: 100%;
	display: table-row;
}

#HubLinkContainer
{
  width: 523px;
  height: 301px;
  margin-top: 30px;
  line-height: normal;
  margin-left:auto;
  margin-right:auto;
}
#HubLink
{
  position: relative;
  display: block;
  width: 310px;
  height: 40px;
  color: #CCCCCC;
  font-family: 'Radiance';
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.35px;
  padding-top: 15px;
  padding-left: 74px;
  line-height: normal;
}
#Link:hover
{
    background-color: rgba( 255, 255, 255, 0.05 );
}
