body {
  background-color: #0d0d0d;
  background-image: url('../assets/bg_repeater.jpg');
  width: 1366px;
  margin-left: auto; 
  margin-right: auto;
  transition: min-width .5s ease-out, min-height .5s ease-out;
}
h1 {
  font-size: 40px;
  color: red;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 35px;
  color: orange;
  text-align: center;
}
a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}
