@font-face{
  font-family:'Radiance';
	src:url('../radiance_font/radiance.eot');
	src:url('../radiance_font/radiance iefix.eot') format("embedded-opentype"),
		  url('../radiance_font/radiance.woff') format("woff"),
		  url('../radiance_font/radiance.ttf') format("truetype"),
		  url('../radiance_font/radiance.svg') format("svg");
	font-weight:normal;
	font-style:normal
}
