@font-face{
  font-family:'Radiance';
	src:url("http://cdn.dota2.com/apps/dota2/fonts/radiance.eot");
	src:url("http://cdn.dota2.com/apps/dota2/fonts/radiance.eot?#iefix") format("embedded-opentype"),
		  url("http://cdn.dota2.com/apps/dota2/fonts/radiance.woff") format("woff"),
		  url("http://cdn.dota2.com/apps/dota2/fonts/radiance.ttf") format("truetype"),
		  url("http://cdn.dota2.com/apps/dota2/fonts/radiance.svg#ywftsvg") format("svg");
	font-weight:normal;
	font-style:normal
}
